<div class="text-center">
    <div class="my-4">
        <button class="btn btn-outline-info" (click)="viewCSV()">View Sample Data</button>
    </div>

    <form>
        <div class="container input-group" style="width: 235px;">
            <label class="input-group-text" for="graphType">Graph Type</label>
            <select ngModel name="graphType" #graphType="ngModel" class="form-select" id="graphType"
                (change)="show(graphType)">
                <option value="" disabled selected>Choose</option>
                <option value="table">Table</option>
                <option value="trend">Trend</option>
                <option value="bar">Bar</option>
                <option value="xy">XY</option>
            </select>
        </div>
    </form>
    <div class="mt-4"></div>
    <div *ngIf="graphType.control.value==='table'">
        <app-table></app-table>
    </div>
    <div *ngIf="graphType.control.value==='bar'">
        <app-bar-temperature></app-bar-temperature>
        <app-bar-pressure></app-bar-pressure>
    </div>
    <div *ngIf="graphType.control.value==='trend'">
        <app-trend-temperature></app-trend-temperature>
        <app-trend-pressure></app-trend-pressure>
    </div>
    <div *ngIf="graphType.control.value==='xy'">
        <app-scatter-temperature></app-scatter-temperature>
        <app-scatter-pressure></app-scatter-pressure>
    </div>
</div>